Brotli==1.0.9
certifi==2023.5.7
charset-normalizer==3.1.0
EasyProcess==1.1
entrypoint2==1.1
idna==3.4
inflate64==0.3.1
multivolumefile==0.2.3
patool==1.12
psutil==5.9.5
pybcj==1.0.1
pycryptodomex==3.17
pyppmd==1.0.0
pyunpack==0.3
pyzstd==0.15.7
requests==2.30.0
texttable==1.6.7
urllib3==2.0.2
